{% extends 'ProyectoViajesApp/base.html' %}
{%load static%}

{% block TituloPagina %}
Excursiones - Viajes Coder    
{% endblock %}

{% block ImagenPortada %}
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'imagenes/excursiones.jpg'%}" alt="..." /></div>
{% endblock %}

{% block TipoDePagina %}Excursiones{% endblock %}
{% block SloganPagina %}Elegí las mejores excursiones para disfrutar{% endblock %}
{% block DeBusqueda %}
<a class="btn btn-primary" href="{%url 'buscar_nombre_excursion'  %}">Buscar Excursion</a>
<a class="btn btn-primary" href="{%url 'crear_excursion'  %}">Crear Nueva Excursion</a> 
   
{% endblock %}</a>

{% block ContenidoPagina%}

    <p><h2>Buscar Excursion:</h2>
        <form action="" method = "post">
            {% csrf_token %}
            <p> Tipo de Excursion: <input type="text" name="nombre" id=""> </p>
            {{form.as_p}}
            <input class="btn btn-primary"  type="Submit" value = "Buscar"> 

        </form>
    </p>

    <p>Resultado:</p>
    <ul> 
        <div class="container">
            <div class="row">
                {%for excursion in excursiones%}
                    <div class="col-sm-4 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Excursion en <h5><b>{{excursion.ubicacion}}</b></h5>
                                <p class="card-text">{{excursion.nombre}}</p>
                                <p class="card-text">{{excursion.descripcion}}</p>
                                <p class="card-text">Precio: $<b>{{excursion.precio}}</b></p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Mas informacion</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>
    </ul>    
{%endblock%}