{% extends 'ProyectoViajesApp/base.html' %}
{%load static%}

{% block TituloPagina %}
Vuelos - Viajes Coder    
{% endblock %}

{% block ImagenPortada %}
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'imagenes/vuelos.jpg'%}" alt="..." /></div>
{% endblock %}


{% block TipoDePagina %}Vuelos{% endblock %}
{% block SloganPagina %}Elegí el mejor vuelo para tu próxima aventura{% endblock %}
{% block DeBusqueda %}
<a class="btn btn-primary" href="{%url 'buscar_destino_vuelo'  %}">Buscar Vuelo</a>
<a class="btn btn-primary" href="{%url 'crear_vuelo'  %}">Crear Nuevo Vuelo</a> 
   
{% endblock %}</a>
{%block SeparadorPagina %}Creacion de Vuelos{% endblock %}
{%block ContenidoPagina%}

<h2>Crea un Vuelo Nuevo:</h2>
<form action="" method = "post">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-primary"  type="Submit" value = "Crear Vuelo"> 
</form>
    
{%endblock%}