{% extends 'ProyectoViajesApp/base.html' %}
{%load static%}

{% block TituloPagina %}
Hoteles - Viajes Coder    
{% endblock %}
{% block ImagenPortada %}
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'imagenes/hoteles.jpg'%}" alt="..." /></div>
{% endblock %}

{% block TipoDePagina %}Hoteles{% endblock %}
{% block SloganPagina %}Elegí el mejor hotel para tu próximo destino{% endblock %}
{% block DeBusqueda %}
<a class="btn btn-primary" href="{%url 'buscar_ubicacion_hotel'  %}">Buscar Hoteles</a>
<a class="btn btn-primary" href="{%url 'crear_hotel'  %}">Crear Nuevo Hotel</a> 
   
{% endblock %}</a>
{%block SeparadorPagina %}Los ultimos Hoteles agregados{% endblock %}
{%block ContenidoPagina%}
    <!-- Content Row-->
    <div class="container">
        <div class="row">
            {%for hotel in hoteles%}
                <div class="col-sm-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{hotel.imagen}}" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Hotel en <h5><b>{{hotel.ubicacion}}</b></h5>
                            <p class="card-text">{{hotel.nombre}} Hotel</p>
                            <p class="card-text">Precio por noche: $<b>{{hotel.precio}}</b></p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Mas informacion</a>
                            <td>
                                <a href="{% url 'editar_hotel' hotel.id %}" class="btn btn-primary btn-sm"> Editar</a>
                                <a href="{% url 'eliminar_hotel' hotel.id %}" class="btn btn-primary btn-sm"> Eliminar</a>
                            </td>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 
    </div>   
{%endblock%}