{% extends 'ProyectoViajesApp/base.html' %}
{%load static%}

{% block TituloPagina %}
Inicio - Viajes Coder    
{% endblock %}
{% block ImagenPortada %}
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'imagenes/inicio.jpeg'%}" alt="..." /></div>
{% endblock %}
{% block TipoDePagina %}Viajes Coder{% endblock %}
{% block SloganPagina %}Los mejores Vuelos Hoteles y Excursiones en un solo lugar{% endblock %}

{%block SeparadorPagina %}Bienvenido al sitio N°1 en Vuelos, Alojamientos y Excursiones{% endblock %}

{%block ContenidoPagina%}

    <div class="container text-white bg-info my-5 py-4 text-center">
        <h3 class="text-white m-0">Los últimos y exclusivos Vuelos, Hoteles y Excursiones</h3></div>
    </div>
        <!-- Content Row-->
        <div class="container">
            <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{vuelos.imagen}}" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Vuelo a <h5><b>{{vuelos.destino}}</b></h5>
                                <p class="card-text">Saliendo desde: {{vuelos.origen}}</p>
                                <p class="card-text">Precio Ida y Vuelta: $<b>{{vuelos.precio}}</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{hoteles.imagen}}" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Hotel en <h5><b>{{hoteles.ubicacion}}</b></h5>
                                <p class="card-text">{{hoteles.nombre}} Hotel</p>
                                <p class="card-text">Precio por noche: $<b>{{hoteles.precio}}</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{excursiones.imagen}}" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Excursion en <h5><b>{{excursiones.ubicacion}}</b></h5>
                                <p class="card-text">{{excursiones.nombre}}</p>
                                <p class="card-text">{{excursiones.descripcion}}</p>
                                <p class="card-text">Precio: $<b>{{excursiones.precio}}</b></p>
                            </div>
                        </div>
                    </div>
            </div> 
        </div>  
{%endblock%}