{% extends 'ProyectoViajesApp/base.html' %}
{%load static%}

{% block TituloPagina %}
Excursiones - Viajes Coder    
{% endblock %}

{% block ImagenPortada %}
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'imagenes/excursiones.jpg'%}" alt="..." /></div>
{% endblock %}


{% block TipoDePagina %}Excursiones{% endblock %}
{% block SloganPagina %}Elegí las mejores excursiones para disfrutar{% endblock %}
{% block DeBusqueda %}
<a class="btn btn-primary" href="{%url 'buscar_nombre_excursion'  %}">Buscar Excursion</a>
<a class="btn btn-primary" href="{%url 'crear_excursion'  %}">Crear Nueva Excursion</a> 
   
{% endblock %}</a>
{%block SeparadorPagina %}<h1 class="font-weight-light">Excursion en {{excursion.nombre}}</h1>{% endblock %}
{%block ContenidoPagina%}

<form action="" method = "post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{excursion.imagen}}" alt="..." /></div>
            <div class="col-lg-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">UBICACION</th>
                        <th scope="col">PRECIO</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">-</th>
                          <td>{{excursion.nombre}}</td>
                          <td>{{excursion.ubicacion}}</td>
                          <td>$<b>{{excursion.precio}}</b></td>
                        </tr>
                    </tbody>
                  </table>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">DURACION</th>
                        <th scope="col">DESCRIPCION</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">-</th>
                          <td>{{excursion.duracion}}hs</td>
                          <td>{{excursion.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</form>

{%endblock%}