{% extends 'ProyectoViajesApp/base.html' %}
{%load static%}

{% block TituloPagina %}
Vuelos - Viajes Coder    
{% endblock %}

{% block ImagenPortada %}
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'imagenes/vuelos.jpg'%}" alt="..." /></div>
{% endblock %}


{% block TipoDePagina %}Vuelos{% endblock %}
{% block SloganPagina %}Elegí el mejor vuelo para tu próxima aventura{% endblock %}
{% block DeBusqueda %}
<a class="btn btn-primary" href="{%url 'buscar_destino_vuelo'  %}">Buscar Vuelo</a>
<a class="btn btn-primary" href="{%url 'crear_vuelo'  %}">Crear Nuevo Vuelo</a>
   
{% endblock %}</a>
{%block SeparadorPagina %}<h1 class="font-weight-light">Vola A {{vuelo.destino}}</h1>{% endblock %}
{%block ContenidoPagina%}

<form action="" method = "post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{vuelo.imagen}}" alt="..." /></div>
            <div class="col-lg-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">DESTINO</th>
                        <th scope="col">ORIGEN</th>
                        <th scope="col">PRECIO IDA Y VUELTA</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">-</th>
                          <td>{{vuelo.destino}}</td>
                          <td>{{vuelo.origen}}</td>
                          <td>$<b>{{vuelo.precio}}</b></td>
                        </tr>
                    </tbody>
                  </table>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">DESDE EL</th>
                        <th scope="col">HASTA EL</th>
                        <th scope="col">VUELO N°</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">-</th>
                          <td>{{vuelo.ida}}</td>
                          <td>{{vuelo.vuelta}}</td>
                          <td>{{vuelo.id_vuelo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</form>

{%endblock%}