{% extends 'ProyectoViajesApp/base.html' %}
{%load static%}

{% block TituloPagina %}
Vuelos - Viajes Coder    
{% endblock %}

{% block ImagenPortada %}
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'imagenes/vuelos.jpg'%}" alt="..." /></div>
{% endblock %}

{% block TipoDePagina %}Vuelos{% endblock %}
{% block SloganPagina %}Elegí el mejor vuelo para tu próxima aventura{% endblock %}
{% block DeBusqueda %}
<a class="btn btn-primary" href="{%url 'buscar_destino_vuelo'  %}">Buscar Vuelo</a>
<a class="btn btn-primary" href="{%url 'crear_vuelo'  %}">Crear Nuevo Vuelo</a>   
   
{% endblock %}</a>
{%block SeparadorPagina %}Los ultimos Vuelos agregados{% endblock %}
{%block ContenidoPagina%}
    <!-- Content Row-->
    <div class="container">
        <div class="row">
            {%for vuelo in vuelos%}
                <div class="col-sm-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{vuelo.imagen}}" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Vuelo a <h5><b>{{vuelo.destino}}</b></h5>
                            <p class="card-text">Saliendo desde: {{vuelo.origen}}</p>
                            <p class="card-text">Precio Ida y Vuelta: $<b>{{vuelo.precio}}</b></p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Mas informacion</a></div>
                    </div>
                </div>
            {% endfor %}
        </div> 
    </div>   
{%endblock%}